<?xml version="1.0" encoding="utf-8"?>
<ShaderWindowSettings xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <Width>640</Width>
  <Height>480</Height>
  <VSync>On</VSync>
  <ClearColor>Black</ClearColor>
  <ClearMask>DepthBufferBit ColorBufferBit</ClearMask>
  <WindowState>Normal</WindowState>
  <DisplayDevice>Primary</DisplayDevice>
  <TargetRenderFrequency>0</TargetRenderFrequency>
  <RenderState>
    <StateConfiguration xsi:type="DepthFunctionState">
      <Function>Less</Function>
    </StateConfiguration>
  </RenderState>
  <GraphicsMode>
    <ColorFormat>
      <Red>8</Red>
      <Green>8</Green>
      <Blue>8</Blue>
      <Alpha>8</Alpha>
    </ColorFormat>
    <Depth>16</Depth>
    <Stencil>0</Stencil>
    <Samples>0</Samples>
    <AccumulatorFormat>
      <Red>0</Red>
      <Green>0</Green>
      <Blue>0</Blue>
      <Alpha>0</Alpha>
    </AccumulatorFormat>
    <Buffers>2</Buffers>
    <Stereo>false</Stereo>
  </GraphicsMode>
  <Shaders>
    <ShaderConfiguration xsi:type="Material">
      <Name>Camera</Name>
      <Enabled>true</Enabled>
      <RenderState>
        <StateConfiguration xsi:type="DisableState">
          <Capability>DepthTest</Capability>
        </StateConfiguration>
      </RenderState>
      <ShaderUniforms />
      <BufferBindings>
        <BufferBinding xsi:type="TextureBinding">
          <Name>tex</Name>
          <TextureSlot>Texture0</TextureSlot>
          <TextureName>Camera</TextureName>
        </BufferBinding>
      </BufferBindings>
      <FramebufferAttachments />
      <VertexShader>Shaders\Quad.vert</VertexShader>
      <FragmentShader>Shaders\Texture.frag</FragmentShader>
    </ShaderConfiguration>
    <ShaderConfiguration xsi:type="Material">
      <Name>PerPixelLight</Name>
      <Enabled>true</Enabled>
      <RenderState>
        <StateConfiguration xsi:type="EnableState">
          <Capability>DepthTest</Capability>
        </StateConfiguration>
      </RenderState>
      <ShaderUniforms>
        <UniformConfiguration xsi:type="Vec3Uniform">
          <Name>Ka</Name>
          <Value>
            <X>0.1</X>
            <Y>0.1</Y>
            <Z>0.1</Z>
          </Value>
        </UniformConfiguration>
        <UniformConfiguration xsi:type="Vec3Uniform">
          <Name>Kd</Name>
          <Value>
            <X>0.8</X>
            <Y>0.8</Y>
            <Z>0.8</Z>
          </Value>
        </UniformConfiguration>
        <UniformConfiguration xsi:type="Vec3Uniform">
          <Name>Ks</Name>
          <Value>
            <X>0.8</X>
            <Y>0.8</Y>
            <Z>0.8</Z>
          </Value>
        </UniformConfiguration>
        <UniformConfiguration xsi:type="FloatUniform">
          <Name>Ns</Name>
          <Value>100</Value>
        </UniformConfiguration>
      </ShaderUniforms>
      <BufferBindings />
      <FramebufferAttachments />
      <VertexShader>Shaders\Model.vert</VertexShader>
      <FragmentShader>Shaders\Phong.frag</FragmentShader>
    </ShaderConfiguration>
  </Shaders>
  <Textures>
    <TextureConfiguration xsi:type="Texture2D">
      <Name>Camera</Name>
      <Width xsi:nil="true" />
      <Height xsi:nil="true" />
      <InternalFormat>Rgba</InternalFormat>
      <WrapS>Repeat</WrapS>
      <WrapT>Repeat</WrapT>
      <MinFilter>Linear</MinFilter>
      <MagFilter>Linear</MagFilter>
    </TextureConfiguration>
  </Textures>
  <Meshes>
    <MeshConfiguration xsi:type="TexturedQuad">
      <Name>Quad</Name>
      <QuadEffects>FlipVertically</QuadEffects>
    </MeshConfiguration>
    <MeshConfiguration xsi:type="TexturedModel">
      <Name>Suzanne</Name>
      <FileName>Models\Suzanne.obj</FileName>
    </MeshConfiguration>
  </Meshes>
</ShaderWindowSettings>